
  .grid
   {
    display: grid;
    grid-template-columns: 45% 45% 45%;  /* 3 columns */
    grid-template-rows: 450px 540px 450px; /* 3 rows  */
    grid-gap:5rem 10rem; /* 50 pixels of space added between rows and 30 pixels added between columns  */
    margin-left: 4rem;
  }
  
  .grid-item{
    border:thin gray solid;
    padding:10px;
  }
  .codepen {
    width: 100%;
  }

  .long {
      height: 100%;
      width: auto;
  }
