body {
    background-color: #F2EFDF;
    font-family: 'Lato', sans-serif;
    color: #1c3a56;
}

.pic {
    float: right;
    height: 700px;
    margin-top: 4rem;
    margin-right: 0;
}

.logo {
    float: left;
    margin-top: 2rem;
    margin-left: 3.0rem;
    /* margin-top: 20px;
    margin-left: 20px; */
}

.marg {
    margin-top: 3.5rem;
    margin-left: 4.0rem;
}

.lucida {
    /* font-family: 'Lato', sans-serif; */
    font-size: x-large;
    line-height: 1.8;
}

.human {
    font-family: 'Lato', sans-serif;
}

.btn {
    border-radius: 15px;
    background-color: #3782A4;
    /* opacity: 0.6; */
    background-color: rgba(55,130,164, 0.6);
    color: #000b14;
    color: rgba(0,11,20, 0.6);

}

.email {
    width: 80%;
}

.mybtn {
    border-radius: 15px;
    background-color: #3782A4;
    opacity: 0.6;
    color: #000b14;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
}

.adjust {
    font-weight: bold;
}

::placeholder {
    color: black;
    font-family: 'Lato', sans-serif;
}

.nobrdr {
    /* border-color: rgb(255, 236, 212); */
    box-shadow: none;
    border-style: hidden;
}

input[type=email]:focus {
    border: 3px solid #1c3a56;
    outline: aquamarine;
  }

.about {
    color: #1c3a56;
    text-decoration: underline;
    text-align: center;
    margin-top: 100px;
    display: inline-block;
    float: right;
    font-size: large;
}

.head {
    text-align: center;
    color: #1c3a56;
    margin-top: 30px;
}

.card {
    /*height: 50px;*/ /*use this for I LIKE THIS*/
    display: inline-block;
    margin-right: 5.7rem;
    margin-left: 5.7rem;
    border-radius: 25px;
}

.smol {
    font-size: medium;
}

.round {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.down {
    padding-bottom: 3px;
}

footer {
    display: flex;
    justify-content: center;
}
/* 
.myhdr img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
} */
  
.myhdr {
    position: relative;
    top: 2.5rem;
    left: 10px;
    color: rgb(195,116,56);
}

.myhdr:hover {
    color:rgb(195,116,56);
}

.icon {
    margin-top: 15px;
    margin-left: 20px;
}

.linkr:hover {
    color: #3782A4;
}

.linkr {
    color: #1c3a56;
    text-decoration: underline;
}

.myfa {
    border-style: hidden;
    padding-top: 2px;
}

.figma {
    position: absolute;
left: 84.31%;
right: 5.76%;
top: 2.5rem;
bottom: 89.26%;

font-family: Lato;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 100% */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #1C3A56;
}

.back {
    font-family: Lato;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 100% */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #1C3A56;
}